[package]
name = "iced_nodegraph"
version = "0.1.0"
edition = "2024"

[dependencies]
euclid = { version = "0.22.11", features = [ "bytemuck" ] }
bytemuck = { version = "1.0", features = ["derive"] }
glam = { version = "0.25", features = ["bytemuck"] }

[dependencies.iced]
path = "../iced"
default-features = false
features = ["advanced", "wgpu", "tokio"]

[dependencies.iced_wgpu]
path = "../iced/wgpu"
