[package]
name = "iced_nodegraph"
version = "0.1.0"
edition = "2024"

[dependencies]
euclid = { version = "0.22.11", features = [ "bytemuck" ] }
bytemuck = { version = "1.24.0", features = ["derive"] }
glam = { version = "0.25.0", features = ["bytemuck"] }
iced = { git = "https://github.com/iced-rs/iced.git", branch = "master" }
iced_wgpu = { git = "https://github.com/iced-rs/iced.git", branch = "master" }
iced_widget = { git = "https://github.com/iced-rs/iced.git", branch = "master" }
