[package]
name = "iced_nodegraph"
version = "0.1.0"
edition = "2024"

[dependencies]
euclid = "0.22.11"

[dependencies.iced]
path = "../iced"
default-features = false
features = ["advanced", "wgpu", "tokio"]
